/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #FFF;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);

  /*=============== FONTS AND TYPOGRAPHY ===============*/
  --body-font: sans-serif;
  --normal-font-size: .938rem;
  --h2-font: 1.2rem;
  --big-font-size: 4rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

/*=============== UTILITIES ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 overflow: unset;
}

body {
  background-color: var(--body-color);
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.button_flex {
  display: flex;
  align-items: center;
}

.section_title {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 3.5rem;
}

.section_title_gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/*=============== HEADER ===============*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 1rem;
  background: var(--body-color);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.section {
  padding: 4rem 4rem;
}

/*=============== NAV ===============*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.logo img{
  display: flex;
  width: 2rem;
}

.nav_items {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 10px 28px;
  color: var(--white-color);
  font-size: var(--h2-font);
  font-weight: bold;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav_link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== HOME ===============*/
.home img{
  width: 300px;
  position: absolute;
  top: -10rem;
  left: 1.7rem;
}

.home_container {
  grid-template-columns: repeat(2, 1fr);
}

.home_data {
  padding-top: 5rem;
}

.home_header {
  position: relative;
}

.home_title {
  font-size:9.5rem;
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
}

.home_subtitle {
  font-size: 5rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.home_title_description {
  margin-bottom: 2rem;
}

.home_description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
}

.home_footer .home_title_description {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.home_description {
  line-height: 2;
  margin-bottom: 1.5rem;
}
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--black-color-alt);
}

.data i {
  font-size: 16px;
  margin-right: 0.5rem;
}
/*=============== SPONSOR ===============*/

.sponsor img {
  width: 90px;
}

.sponsor_container{
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

/*=============== SPECS ===============*/
.spec_container {
  position: relative;
  align-items: center;
  justify-content: center;
}

.spec_content {
  row-gap: 1.5rem;
}

.spec_data {
  display: grid;
  row-gap: .25rem;
}

.spec_title {
  font-size: 1rem;
}

.spec_subtitle {
  font-size: .875rem;
}

.spec_data:nth-child(1),
.spec_data:nth-child(4) {
  margin-left: 1.5rem;
}

.spec_container img {
  position: absolute;
  width: 250px;
  right: -2rem;
  top: 2rem;
}

/*=============== CASE ===============*/
.case_container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.case_data {
  padding: 5rem 0 3rem;
}

.case_img {
  width: 300px;
  left: 7rem;
}

.case__description {
  font-size: .875rem;
  margin-bottom: 1rem;
}

/*=============== DISCOUNT ===============*/
.discount_container {
  position: relative;
  background-color: var(--container-color);
  padding: 4rem 2rem;
  border-radius: .75rem;
  align-items: center;
}

.discount img {
  position: absolute;
  width: 300px;
  top: 4rem;
  right: 5rem;
}

.discount_title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.discount_description {
  margin-bottom: 1.5rem;
}
/*=============== PRODUCT ===============*/
.product h2{
  line-height: 0.85;
}

.product_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 2rem;
}

.product_card {
  position: relative;
  height: 132px;
  background-color: var(--container-color);
  padding: .75rem;
  border-radius: .5rem;
  display: grid;
}

.product_img {
  width: 80px;
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  top: -3rem;
}

.product_content {
  align-self: flex-end;
}

.product_title,
.product_price {
  font-size: .875rem;
}

.product_price {
  font-weight: bold;
}

.product_button {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  padding: .5rem;
}